    <!-- wrapper -->
    <div class="container-flex">
        <!-- navbar top -->
        <div class="row animated flipInY">
            <nav class="navbar navbar-light bg-faded"> 
                <a class="navbar-brand mb-0" href="./home">
                    <img src="{{assets}}/images/Gather.png" alt="logo">
                </a>              
                <h2 class="navbar-brand mb-0">Gather!</h2>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="./home">Home</a></li>
                    <li role="presentation" id="loginTab"><a href="./login">Login</a></li>
                    <li role="presentation"><a href="./users">UserPage</a></li>
                </ul>
            </nav>
        </div>


        <!-- carousel -->
        <div class="container-flex">            
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active animated lightSpeedIn">
                        <img src="{{assets}}/images/kingsman.jpg" alt="StarWars">
                        <div class="carousel-caption">
                            <h2>So many movies it's hard to keep track?</h2>
                        </div>
                    </div>
                    <div class="item animated bounceInUp">
                        <img src="{{assets}}/images/jworld.jpg" alt="JurassicWorld">
                        <div class="carousel-caption">
                            <h2>Then let us keep track for you!</h2>
                        </div>
                    </div>
                    <div class="item animated rollIn">
                        <img src="{{assets}}/images/starw.jpg" alt="Kingsman">
                        <div class = "carousel-caption">
                            <h2>Search and add your collection of movies to our database</h2>
                        </div>
                    </div>
                    <div class="item animated zoomInUp">
                        <img src="{{assets}}/images/gotg.jpg" alt="GuardiansoftheGalaxy">
                        <div class="carousel-caption">
                            <h2>And never forget again!</h2>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div> 
        </div>

        <!-- about us div -->
        <div class="container-flex aboutUs">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 animated fadeInDown">
                    <h1><small>In the words of Jerry Maguire <br><br>
                    </small> Help Me... help you!</h1><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lg-offset-1">
                    <h4>We love movies, and we know it can be hard for any aficionado to keep track of their collection. Well worry no more couch crusader!<br>
                        We'll give you your own page to keep track of that mess you call a library. Add movies to your collection and check them out whenever the time is right!<br>
                        Find what you need, when you need it, and making popcorn will be the most stressful thing you'll have to do.</h4>
                </div>
            </div>
        </div>


        <!-- footer -->
        <footer>
            <div class="footer-copyright">
                <div class="containter-fluid">
                   <p> © 2017 Copyright: Drew, Jalil, and Jeff </p>
                </div>
            </div>
        </footer>
    
    <!-- wrapper close -->
    </div>

    <!-- jquery cdn -->
    <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript (bootstrap) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
